@import "~bootstrap/scss/bootstrap.scss";
.container{
    padding-top:60px;
    padding-bottom: 55px;
  
    
    
}
.message{
    animation:blinkingText 1.5s 10;
    font-size:50px;
  

}
@keyframes blinkingText{
	0%{		color: #000;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: #000;	}
}
.g-rows{
    
    display: flex;
   
    margin :0 auto;
    width:600px;

    justify-content: center;
}

.cells{
    background:cyan;
    width:100px;
    height:100px;
    border: 2px solid black ;
    padding-top: 30px;
    padding-left: 40px;
    font-size:20px;
    font-weight:bolder;
   
   
}
.clicker{
    background: green;
    
}