@import "~bootstrap/scss/bootstrap.scss";

.g-rows{
    display: flex;
    background:cyan;
    margin :0 auto;
    width:250px;
    justify-content: center;
}

.cells{
    width:80px;
    height:80px;
    border: 1px solid black;
    padding-top: 30px;
}